body {
    background-color: #393E46;
}

.container {
    position: relative;
    max-width: 960px;
    margin: auto;
    text-align: center;
    color: #4ECCA3;
}

.head-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Coiny", system-ui;
    font-size: 4rem;
}

.non-visible {
    display: none;
}

.visible {
    height: 60px;
    padding: 10px;
}

.dice {
    display: inline-block;
}

p {
    font-family: "Quantico", sans-serif;
    font-size: 2rem;
}

.dice-img {
    width: 150px;
    margin: 0 20px;
}

button {
    height: 70px;
    width: 200px;
    background-color: #4ECCA3;
    border: none;
    border-radius: 10px;
    text-align: center;
    color: #393E46;
    font-family: "Iceland", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 20px 25px;
    margin-top: 100px;
}

button:hover {
    background-color: #8B0000;
    color: #FDF5E6;
}

footer {
    margin-top: 70px;
    font-family: "Quantico", sans-serif;
    font-size: 0.8rem;
}

@media (max-width: 768px) {
    .visible {
        height: 40px;
        padding: 10px;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1.5rem;
    }

    .dice-img {
        width: 110px;
        margin: 0 15px;
    }

    button {
        margin-top: 60px;
    }
}

/*@media (max-width: 480px) {
    .visible {
        height: 20px;
        padding: 5px;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    p {
        font-size: 1rem;
    }

    .dice-img {
        width: 70px;
        margin: 30px 5px 0 5px;
    }

    button {
        height: 50px;
        width: 120px;
        font-size: 1.5rem;
        padding: 10px 20px;
        margin-top: 100px;
    }

}*/
